{% extends "layout.html" %}
{% from 'article_macros.html' import show_article %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/codemirror/lib/codemirror.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/article.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin.css')}}" />

<style type="text/css">
.CodeMirror {
    border: 1px solid #eee;
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}
</style>

{% endblock %}

{% block script %}
<script type="text/javascript" >
var editor_css, editor_js1, editor_js2;

function autoIndentDoc() { }

// ////////////////////////////////////////////////////////////////////////////
// Name: module_init
// Synop: module entry point
//        (called before $("body").show() in main.js's main function)
function module_init() {
    // load required external librarys
    require("editor/jquery.wymeditor");
    require("codemirror/lib/codemirror");
    require("codemirror/lib/util/overlay");
    require("codemirror/lib/util/dialog");
    require("codemirror/mode/htmlmixed/htmlmixed");
    require("codemirror/mode/xml/xml");
    require("codemirror/mode/css/css");
    require("codemirror/mode/javascript/javascript");

    editor_css = CodeMirror.fromTextArea(document.getElementById("code-css"), {
        lineNumbers: true,
        theme: "default",
        mode: "css",
        extraKeys: {
            "Ctrl-I": autoIndentDoc
        }
    });

    editor_js1 = CodeMirror.fromTextArea(document.getElementById("javascript_before"), {
        lineNumbers: true,
        theme: "default",
        mode: "javascript",
        extraKeys: {
            "Ctrl-I": autoIndentDoc
        }
    });

    editor_js1 = CodeMirror.fromTextArea(document.getElementById("javascript_after"), {
        lineNumbers: true,
        theme: "default",
        mode: "javascript",
        extraKeys: {
            "Ctrl-I": autoIndentDoc
        }
    }); 

    $(".main-content").wymeditor({wymPath: "/static/js/editor/"});
    $("input[type=submit]").click(function(){ $.wymeditors(0).update() });
    
}
</script>
{% endblock %}

{% block body %}
<div id="admin-main">
<form class="model-edit-form" method="POST" action="{{url_for('.add_article')}}" >
<div id="upper-form" class="model-edit-form  article-content">
<fieldset>
    <legend>
        Adding Article
    </legend>
    
  <div class="field-container">
    <label  for="title">Title</label>
    <input class="article-title" style="width:80%;" id="title" name="title" type="text" value="" />
  </div>
  <div class="field-container">
    <label for="body">Body</label>
    <textarea style="width:100%; height: 400px;" id="body" name="body" class="main-content"></textarea>
  </div>
  <div class="field-container">
    <label  for="css">Stylesheet</label>
    <textarea id="code-css" name="css"></textarea>
  </div>
  <div class="field-container">
    <label for="javascript_before">Javascript Before (the javascript here will be placed before the article)</label>
    <textarea  id="javascript_before" name="javascript_before"></textarea>
  </div>
  <div class="field-container">
    <label for="javascript_after">Javascript After (the javascript here will be placed after the article)</label>
    <textarea id="javascript_after" name="javascript_after"></textarea>
  </div>
  
  <div class="field-container">
    <label for="author_blurb">About The Author</label>
    <textarea id="author_blurb" name="author_blurb"></textarea>
  </div>
  
</fieldset>
</div>

<input id="submit" type="submit" value="Submit" class="button"/>
        
</form>
</div>

{% endblock %}

