{% extends "admin/extra_base.html" %}
{% from "admin/_paginationhelpers.html" import render_pagination %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/admin.css') }}">

<script src="{{ static('js/jquery-ui-timepicker.js') }}" type="text/javascript"></script>
<script src="{{ static('js/jquery-chosen.js') }}" type="text/javascript"></script>
<script src="{{ static('js/jquery-columnizer.js') }}" type="text/javascript"></script>
<script src="{{ static('js/admin/admin.js') }}"></script>

{% endblock %}

{% block main %}
<!--    -->
<ul id="model-list">
	<li id="model-list-header">
		<h2>Listing articles</h2>
	</li>
    {% set row_number = 0 %}
    {% for article in articles  %}
    	{% if article.author_id == current_user.id or current_user.has_role('admin') %}
	    <li class="model-list-item list-item-{{ row_number % 2 }}">
    		<a href="{{ url_for('.edit_article', articleid=article.id) }}">
                {{ article }}
    		</a>
		</li><li class="model-list-icons">
    	    <a href="{{ url_for('.delete_article', articleid=article.id) }}" title="delete">
    	        <div class="ui-widget ui-state-default ui-corner-all icon-button" title="delete">
    	            <span class="ui-icon ui-icon-trash"></span>
    	        </div>
    	    </a>
    	    <a href="{{ url_for('.edit_article', articleid=article.id) }}" title="edit">
    	        <div class="ui-widget ui-state-default ui-corner-all icon-button" title="edit">
    	            <span class="ui-icon ui-icon-pencil"></span>
    	        </div>
    	    </a>
    	</li>
    	
        {% set row_number = row_number + 1 %}
        {% endif %}
	{% endfor %}
	<li id="model-list-footer">
		
		<a class=title="add new {{ model_name }}" href="{{ url_for('.add_article') }}">
			<div class="ui-widget ui-state-default ui-corner-all icon-button" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span></div>
		</a>
	</li>
</ul>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[

// ]]>
</script>

{% endblock %}
    
