{% extends "layout.html" %}
{% from 'article_macros.html' import show_article %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/article.css')}}" />

<style type="text/css">
    {{article.get_stylesheet()|safe}}
</style>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery-columnizer.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    {{ article.get_javascript_before() | safe }}
</script>

<div id="articles">
    {{ show_article(article, current_user, author_detailed=True, show_all=True, show_menu=False, show_comments=True) }}
    <!-- Author Blurb -->
    
</div>

<script type="text/javascript">
    {{ article.get_javascript_after() | safe }}
</script>
{% endblock %}
