#about-us{padding-left:10px;padding-right:10px;}#about-us h2{padding:3px;border-bottom:solid 1px #eee;}
#about-us td{padding:10px;}
#about-us .contact-info{text-align:right;}
#about-us .officer-desc{border-left-color:#eee;border-left-style:solid;border-left-width:1px;padding-left:5px;}
