/* ****************************************************************************
 * Section: Setup and Specifics
 * ***************************************************************************/
/* ****************************************************************************
 * Section: Preliminary Generic Styles
 * ***************************************************************************/
/* ****************************************************************************
 * Section: State Specific Styles
 * ***************************************************************************/
/* ****************************************************************************
 * TODO: 
 *    1) add normal css border style variables for the default states
 *          -> Should follow form ui-{state}-border-{prop}
 *
 * ***************************************************************************/
/* Short Hand */
/******************************************************************************
 * Section: Generic Styles
 *****************************************************************************/
* {
  border: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 75%;
}
a {
  text-decoration: none;
  color: #003;
}
a:hover {
  color: #eee;
}
form input[type=text],
form input[type=password],
form select,
form textarea {
  background-color: #fdfdfd;
  display: block;
  border-width: 1px;
  padding: 2px;
  margin: 2px;
}
form input[type=checkbox] {
  background: #eee;
  display: inline;
  border: solid 1px black;
  padding: 2px;
  margin: 2px;
}
form input[type=submit] {
  margin-left: 5px;
}
/* ****************************************************************************
 * Section: Generic style classes
 * ***************************************************************************/
.message-flash {
  background: #AACBE2;
  padding: 0.5em;
  border: 2px solid #0000E2;
}
.message-error {
  background: #ffc73d;
  padding: 0.5em;
  border: 2px solid #ffb73d;
}
/* ****************************************************************************
 * Section: Grid item classes for tables with alternating row color
 * ***************************************************************************/
.list-item-0 {
  background-color: #ebebeb;
}
.list-item-1 {
  background-color: #ffffff;
}
