{% extends "layout.html" %}
{% from 'seminar_macros.html' import show_seminar %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/seminar.css')}}" >
</link>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">

function module_init() {
    require("jquery-columnizer");
}

function module_onload(){
    
    console.log("module_onload");
    
    $(".seminar-content").addClass("dontsplit");
    $("#seminars").columnize({
        columns: 2,
        width: 250,
        buildOnce: true
    });
    
}

// ]]>
</script>
{% endblock %}

{% block body %}
<div id="seminars">
    <h2>Seminars</h2>
    <p>{{ get_content('about-seminars') | safe }}</p>
    <div id="seminar-list">
    {% for seminar in seminars %}
        {{ show_seminar(seminar, current_user) }}
    {% endfor %}
    </div>
</div>
{% endblock %}
