{% from 'post_macros.html' import show_post %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news-posts.css')}}" ></link>

{% endblock %}

{% block script %}
<script type="text/javascript" >
// ////////////////////////////////////////////////////////////////////////////
// Name: module_init
// Synop: module entry point
//        (called before $("body").show() in main.js's main function)
function module_init() {
    // load required external librarys
    require("editor/jquery.wymeditor");
    
    $("textarea").wymeditor({wymPath: "/static/js/editor/"});
    
}

</script>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated() %}
        <form action="{{ form_action }}" method="POST" class="{{form_name}}-form">
            {{ show_post(post,current_user, False) }}
            <input type="hidden" name="postid" value="{{post_id}}">
    	    <input type=submit value="Submit" onclick="$.wymeditors(0).update()">
	    </form>
{% endif %}
{% endblock %}
