{% from 'post_macros.html' import show_post %}

{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news-posts.css')}}" />
{% endblock %}

{% block script %}
<script type="text/javascript" >
// ////////////////////////////////////////////////////////////////////////////
// Name: module_init
// Synop: module entry point
//        (called before $("body").show() in main.js's main function)
function module_init() {
    // load required external librarys
    require("jquery-expander");

    // do the setup
	$( ".post-body" ).expander({ slicePoint: 400 });
	
}


</script>
{% endblock %}

{% block body %}
    {% for post in posts %}
        {{ show_post(post, current_user) }}
    {% endfor %}
{% endblock %}
